amqp==2.2.2
asn1crypto==0.23.0
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.1.0
certifi==2017.7.27.1
cffi==1.11.0
chardet==3.0.4
click==6.7
configparser==3.5.0
coverage==4.3.4
coveralls==1.2.0
cryptography==2.0.3
docopt==0.6.2
enum34==1.1.6
idna==2.6
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.5
kombu==4.1.0
logger==1.4
MarkupSafe==0.23
pycparser==2.18
pyOpenSSL==17.3.0
pytz==2017.2
PyYAML==3.12
requests==2.18.4
robotframework==3.0.2
robotframework-ride==1.5.2.1
six==1.11.0
SQLAlchemy==1.1.14
urllib3==1.24.2
vine==1.1.4
Werkzeug==0.15.3
wheel==0.24.0
